@use '../../../styles/variables' as vars;

@use '../../../styles/theme' as t;

.search-bar {
  margin: 5px;
  display: flex;
  align-items: center;
  width: 230px;
  height: 32px;
  border-radius: 5px;
  position: relative;

  &__input {
    border: none;
    outline: none;
    background: none;
    color: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding: 0 0 0 36px;
    position: absolute;
  }

  &__icon {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 10px;

    svg:hover {
      transition: all 0.5s ease;
      transform: scale(1.1);
    }
  }

  &:hover {
    transition: all 0.5s ease;
    transform: scale(1.1);
    border-radius: 4px;
  }

  @include t.theme('light');

  &[data-theme='dark'] {
    @include t.theme('dark');
  }
}
