@use '../../styles/variables' as vars;

.aside-container {
  font-family: vars.$font-family;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: vars.$text-color;
  overflow: auto;
  position: sticky;
  position: -webkit-sticky;
  z-index: 9;
  top: 50px;
  width: vars.$aside-width;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(200, 200, 200);
  width: 100%;
  height: 100%;
  padding: 5px 2px;

  &:hover {
    color: vars.$text-color;
    background-color: rgb(66, 66, 66);
    border-radius: 5px;

    .nav-item__icon svg {
      width: 23px;
      height: 23px;
      fill: vars.$text-color;
      transition: all 0.5s ease;
    }
  }
  
  .nav-item__icon {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: vars.$text-color-gray;
  }

  svg {
    fill: currentColor;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .aside-container {
    display: none;
  }
}
