@forward './base';
@use './mixins';
@use './variables' as vars;


// Базовые стили
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: verdana, sans-serif; // Шрифт, напоминающий MDN
  line-height: 1.6;
  background-color: vars.$background-default; // Основной фон
  color: vars.$text-color-gray; // Основной текст
  transition: background-color 0.3s ease, color 0.3s ease;
}

// Темная тема
body[data-theme="dark"] {
  background-color: vars.$background-dark;
  color: vars.$text-color-light;

  a {
    font-family: vars.$font-family-cursive;
    color: vars.$link-color-gray;

    &:hover {
      color: vars.$link-hover-dark;
      text-decoration: underline;
    }
  }

  aside-container {
    background: vars.$aside-bg-color;
  }
}

// Светлая тема
body[data-theme="light"] {
  background-color: vars.$background-light;
  color: vars.$text-color-dark;

  a {
    color: vars.$link-color-light;

    &:hover {
      background: vars.$link-text-color-light;
      color: vars.$link-hover-light;
      text-decoration: underline;
    }
  }

  #aside {
    background: vars.$background-default;
  }
}

// Стили ссылок
a {
  color: vars.$link-color-gray;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    text-decoration: underline;
    color: vars.$text-color; // Подчеркнутый цвет текста
  }
}

// Заголовки
h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.25;
  color: inherit;
}

// Кнопки
button {
  font-family: inherit;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  color: vars.$link-color-gray;
}

// Темная тема для кнопок
body[data-theme="dark"] button {
  border: none;
  color: vars.$link-color-gray;
}
