@forward './base';
@use './mixins';
@use './variables' as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: vars.$font-family;
  background: rgb(24, 24, 24);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  color: vars.$text-color-gray;
  
}

a {
  color: vars.$text-color-gray;
  text-decoration: none;
  cursor: pointer;
  font-family: vars.$font-family-cursive !important;

  &:hover {
    color: vars.$text-color;
    transition: all 0.5s ease;
  }
}