@use '../styles/variables' as vars;
@use '../styles/theme' as t;

.layout {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
  @include t.theme('light');
  
  &[data-theme='dark'] {
    @include t.theme('dark');
  }
  
  .main {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    min-height: calc(100vh - 50px);
  }
  
  .outlet {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
  
    @include t.theme('light');
  
    &[data-theme='dark'] {
      @include t.theme('dark');
    }
  }
}


@media screen and (max-width: 768px) {
  .main {
    margin: 0 auto;
  }

  .outlet {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .main {
    flex-direction: column;
  }

  .outlet {
    width: 100%;
  }

  .aside {
    display: none;
  }
  
}