@use '../../styles/variables' as vars;
@use '../../styles/theme' as t;

.home {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  font-family: vars.$font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  &-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  @include t.theme('light');

  &[data-theme='dark'] {
    @include t.theme('dark');
  }
}

@media screen and (max-width: 768px) {
  .home {
    font-size: 1rem;
    line-height: 16px;

    &-main {
      padding: 20px;
      gap: 10px;
    }
  }
}
